*{
  margin: 0;
  padding: 0;
}
body 
{
  background-image: url("https://thumbs.dreamstime.com/z/fast-speed-times-clock-business-working-hours-moving-blur-running-go-forward-concept-158394435.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
#time
{
  font-size: 80px;
}